/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
.asteroid {
  width: 100px;
  height: 100px;
  top: 100;
  left: 0;
  background-image: url("asteroid.png");
  background-repeat: no-repeat;
}
.scoreboard {
  background-color: black;
  width: 700px;
  max-height: 100px;
  position: fixed;
}
.hit {
  opacity: 0.7;
}

.highscore {
  margin-left: 10px;
  color : white;
  font-size: 20px;
  float: left;
  text-align: center;
}

.current {
  margin-left: 120px;
  font-size: 20px;
  color: white;
  float: left;
  text-align: center;
}

.collisions {
  margin-left: 200px;
  float: left;
    font-size: 20px;
  color: white;
  text-align: center;
}